
.form-detail-layout {
    width: 45%;
    height: 6rem;
    /*background: #2196F3;*/
    opacity: 0.8;
    background: #337ab7;
    -ms-flex-line-pack: center;
    margin: 0 auto;
    margin-top: 5rem;
    height: 35rem;
    border: 2px solid #fff;
    border-radius: 0.5rem;
    color : #fff;
}

.title {
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    margin-top: 5rem;
}

.form-group {
   display: flex;
   flex-direction: column;
   border: none;
   color : #fff;
}

.form-control {
    display: flex;
    width: 100%;
    padding: 1.5rem;
    margin-top: 1.5rem;
    box-sizing: border-box;
}

.input-form {
    padding: 1rem;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    padding: 0;
    cursor: text;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.5rem;
    background: transparent;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    outline: none;
    color : #fff;
}

