.tabs-header {
    outline: none;
    cursor: pointer;
    border: none;
    transition: 0.2s;
    padding : 0 0 0.5rem 0rem;
    width: 100%;
    font-size: 1.2rem;
  }

.tabs-header li {
    float: left;
    list-style-type: none;
    padding: 0.5rem 2rem;
    opacity: 0.5;
    margin-right: 5rem;
}

.tabs-header li.active {
    border-bottom: 4px solid #1E90FF;
    opacity: 1;
    padding-bottom: 1.2rem;
  }
  
.tab-content {
    padding: 2rem 0 1rem 0;
}