
.container {
    width: 100%;
    height: auto;
}

.layout-header {
    background-color: #337ab7;
    width: 100%;
    padding: 0.8rem;
    height: 6rem;
    box-sizing: border-box;
}

.title {
    color:#ffffff;
    font-size: 1.5rem;
    margin-top: 1.2rem;
}

