<h1 class="heading"> Welcome {{userName | uppercase }} ! </h1>
<section class="data-container">
  <!-- player details with tab / tree component - start -->
  <section class="content">
    <app-tabs class="margin-3rem">
       <app-tab title="Country">
           <app-tree [playerList] = 'allCountryPlayerList' (selectedPlayer)="updateList($event)"></app-tree>
       </app-tab>
       <app-tab title="Player role">
          <app-tree [playerList] = 'categorizedUnderRole'></app-tree>
      </app-tab>
    </app-tabs>
  </section>
  <!-- player details with tab / tree component - end -->

  <!-- player Image - start -->
  <section class="content">
      <figure class="player-image">
            <img [src]=selectedPlayer.imgSrc class="img-class">
      </figure>
  </section>
  <!-- player Image - start -->

  <!-- Read only player-detail-->
  <section class="content" *ngIf="!addPlayer">
      <form class="form-layout">
            <legend> View Player Details <span class="text-color"> (click on player name to view details)</span></legend>
            <div class="margin-top-3rem readonly-content">
                <p>
                    <label>Name : </label>
                    <span> {{selectedPlayer.name}} </span>
                  </p>
                  <p>
                      <label>Country : </label>
                      <span>{{selectedPlayer.country}}</span>
                  </p>
                  <p>
                      <label>Player Role : </label>
                      <span> {{selectedPlayer.role}} </span>
                  </p>
            </div>
            <!-- Add new Player button will show only - if user login with admin -->
            <button type="button" *ngIf="userRole == 1" class="btn btn-primary add-new-btn" (click)="togglePlayer(true)">Add New Player</button>
        </form>
 </section>
  <!-- read only player-detail-->

  <!-- Add new player - start-->
  <section class="content" *ngIf="addPlayer">
        <section class="player-layout">
            <legend class="margin-top-2rem"> Add New Player </legend>
           <form autocomplete="off" [formGroup]="playerForm" (ngSubmit)="addPlayer()" class="form-group">
             <div class="form-control">
               <input type="text" name="playerName" placeholder="PlayerName" maxlength="20" class="input-form" formControlName="playerName">  
             </div>
             <div class="form-control">
                <input type="text" name="playerCountry" placeholder="PlayerCountry" maxlength="20" class="input-form" formControlName="playerCountry">  
              </div>
              <div class="form-control">
                  <input type="text" name="playerRole" placeholder="PlayerRole" maxlength="20" class="input-form" formControlName="playerRole">  
                </div>
              <div class="btn-group">
                  <button type="reset" class="btn btn-default" (click)="togglePlayer(false)">Cancel</button>
                  <button type="submit" class="btn btn-primary" [disabled]="!playerForm.valid">submit</button>
              </div>
            </form>
        </section>
    </section>
  <!-- Add new player - end-->

</section>