/* You can add global styles to this file, and also import other style files */
:root {
  font-size:14px;
}

  
body {
    font-family: lato, sans-serif;
    margin: 0 auto;
    background-color: #E3E2DF;
    width: 100%;
    min-height: 45.6rem;
    letter-spacing:0.4px;
}

.margin-3rem {
  margin-left: 3rem;
}

.btn-group {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1rem;
  margin-left: 10rem;
  margin-top: 1rem;
  grid-gap: 2rem;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-primary {
  color: #fff;
  background-color: #2196F3;
  border-color: #2e6da4;
}

.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}

.btn {
  display: inline-grid;
  padding: 1rem;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.428571;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px;
}

.button-class {
  padding: 11px;
  width: 10%;
  background: #ccc;
  border: 1px solid red;
  margin-left: 1rem;
  margin-top: 1.1rem;
  display: flex;
  flex: 1;
  cursor: pointer;
}

.btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}

#toastMsg {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #2196F3;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#toastMsg.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

::placeholder {
  color: #ccc;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #ccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color:  #ccc;
}